html{
    background: url("/resources/admin/images/landscape.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
body {
    line-height: 1.6;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    color: #353535;
    font-size: 14px;
    width:1200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
}
body::-webkit-scrollbar{
    width:5px;
    height:5px;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-track{
    display: none;
}

body::-webkit-scrollbar-thumb{
    background:#e7e7eb;
    border-radius:10px;
}
.top-bar{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    margin-top: 30px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(99,99,99,0.1);
}
.middle-bar{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    height: 36px;
    padding-left: 20px;
}
a{
    text-decoration:none;
    display: inline-block;
    color: #ffffff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img{
    display: inline-block;
    position: relative;
    width: 90%;
    height: 60%;
    top: 40%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%,-50%);
}
.middle-bar a{
    width: 130px;
    height: 36px;
    margin-left: 20px;
    float: right;
    text-align: center;
    line-height: 36px;
    color: #FFFFFF;
    /*background-color: #1aad19;*/
    background-color: rgba(26, 173, 25, 0.6);
    border-radius: 3px;
}
.middle-bar>.wihte{
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
}
.middle-bar a:hover{
    text-decoration:none;
    color: #ffffff;
    background-color: #1aad19;
}
h3{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.tag{
    float: left;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 1px 20px 0 #E4E8EB;
    border-radius: 6px;
    margin: 20px 15px;
    width: 22%;
    height: 292px;
    /*padding: 12px 15px 20px 20px;*/
}

.top{
    border-radius: 6px 6px 0 0;
    margin: 0;
    width: 100%;
    height: 80%;
    box-shadow: 0 0 0 0;
}
.zz{
    position: relative;
    top:-80%;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1000;
}
.zz>a{
    text-align: center;
    color: #FFFFFF;
}
.tag .top a{
    font-size: 18px;
    width: 90%;
    top: 11%;
    left: 5%;
}
.down{
    border-radius: 0 0 6px 6px;
    position: relative;
    top:-80%;
    margin: 0;
    width: 100%;
    height: 20%;
    box-shadow: 0 0 0 0;
}
.tag .down a{
    width: 70%;
    left: 40%;
    transform:  translate(-50%,-50%);
}

.left_bar,.right_bar{
    position: relative;
    top: 150px;
    background-color: rgba(255, 255, 255,0.2);
    height: 65%;
    width: 250px;
    border-right: 1px solid #e7e7eb;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    float: left;
    border-radius: 10px 0 0 10px;
}

.right_bar{
    border-right:none;
    border-left:1px solid #e7e7eb;
    border-radius: 0px 10px 10px 0px;
}

.left_bar::-webkit-scrollbar{
    width:5px;
    height:5px;
}

.left_bar::-webkit-scrollbar-button {
    display: none;
}

.left_bar::-webkit-scrollbar-track{
    display: none;
}

.left_bar::-webkit-scrollbar-thumb{
    background:#e7e7eb;;
    border-radius:10px;
}


.left_bar>h4,.right_bar>h4{
    width: 84%;
    margin: auto;
    margin-top: 30px;
    color: #ffffff;
}

.left_bar>.phase,.right_bar>.phase{
    margin: 8%;
    float: left;
    width: 90%;
}

.left_bar .title{
    height: 100px;
    padding: 5%;
    border: 1px solid #E4E8EB;
    cursor: pointer;
    width: 84%;
    float: left;
    border-top: none;
}

.left_bar .title>h4{
    position: relative;
    top: 72px;
    margin: auto;
    z-index: 1000;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.5);
    text-indent: 10px;
    line-height: 28px;
    height: 28px;
}
.title>div{
    height: 100%;
    top: -28px;
    position: relative;
}

.left_bar p{
    display: inline-block;
    float: left;
    height: auto;
    margin: 0;
    width: 60%;
    text-indent: 14px;
}

.left_bar img{
    width: 40%;
    top: auto;
    left: auto;
    height: 88%;
    transform: translate(0,0);
    float: right;
}

.left_bar>.phase .shade{
    background-color: rgba(0,0,0,0.5);
    z-index: 1001;
    height: 40px;
    width: 112%;
    margin: 0;
    top: -17%;
    left: -6%;
    position: relative;
    float: left;
    display: none;
}

.phase>.box{
    position: relative;
    top: -40px;
}

.shade>a{
    float: left;
    width: 40px;
    height: 40px;
    top: auto;
    transform: translateY(0);
}

.shade>a>i{
    font-size: 28px;
    margin: 0 6px 0 6px;
    color: #fff;
}

.middle_bar{
    width: 696px;
    height: 65%;
    background-color: rgba(255,255,255,0.2);
    top: 150px;
    position: relative;
    border:1px solid #e7e7eb;
    border-top: none;
    border-bottom: none;
    display: inline-block;
    float: left;
}

.middle_bar>.titlel{
    width: 80%;
    margin: 5% 5% 0 5%;
    color: #E4E8EB;
    font-size: 20px;
    height: 8%;
}

.titlel .botton{
    list-style-type:none;
    float: left;
    margin: 5px;
    top:0;
    transform: translateY(0%);
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.botton>a{
    transform: translateY(0%);
    padding-left: 5px;
    padding-right: 5px;
}

.bottom_bar{
    position: fixed;
    width: 1200px;
    height: 10%;
    bottom: 0;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 20px 0 #E4E8EB;
}

.right_bar>.phase>.item{
    width: 90%;
    height: 50px;
    border: 1px solid #e7e7eb;
    border-top: none;
    padding-left: 10px;
    font-size: 20px;
}

#cover {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    display: block;
    width: 20%;
    height: 85%;
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 0px;
    background: rgba(0,0,0,0);
}

.right_bar>.phase>.item>a{
    line-height: 50px;

}

.title:hover > .shade{
    display: inline-block;
}

.item>.tab{
    display: block;
    width: 100%;
    height: 100%;
}

.editor{
    width: 95%;
    height: 85%;
    margin-left: 5%;
    /*border: 1px solid red;*/
    position: relative;
    bottom: 0px;
    overflow-y: auto;
}
.editor::-webkit-scrollbar{width:5px;height:5px;}
.editor::-webkit-scrollbar-button {display: none;}
.editor::-webkit-scrollbar-track{display: none;}
.editor::-webkit-scrollbar-thumb{background:#e7e7eb;border-radius:10px;}

div{
    outline:0 none !important; blr:expression(this.onFocus=this.blur());
}

.runoff {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}